<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">
</head>
<body>
<div class="container-fluid">
    <header th:replace="~{fragments/header}">
    </header>
    <main class="jumbotron">
        <h1 class="text-center">Create Solar Plant</h1>

        <form th:action="@{/solar_plants/create}" th:method="post" th:object="${solarPlantCreate}">
            <div class="form-group mx-auto w-25 text-center"
                 th:classappend="${#fields.hasErrors('town')}?'text-danger'">
                <label for="town">Town</label>
                <input class="form-control" type="text" id="town" th:field="*{town}"
                       placeholder="Town..."/>
                <small th:each="error:${#fields.errors('town')}" th:text="${error}">
                </small>
            </div>
            <div class="form-group mx-auto w-25 text-center"
                 th:classappend="${#fields.hasErrors('municipality')}?'text-danger'">
                <label for="municipality">Municipality</label>
                <input class="form-control" type="text" id="municipality" th:field="*{municipality}"
                       placeholder="Municipality..."/>
                <small th:each="error:${#fields.errors('municipality')}" th:text="${error}">
                </small>
            </div>
            <div class="form-group mx-auto w-25 text-center"
                 th:classappend="${#fields.hasErrors('country')}?'text-danger'">
                <label for="country">Country</label>
                <input class="form-control" type="text" id="country" th:field="*{country}"
                       placeholder="Country..."/>
                <small th:each="error:${#fields.errors('country')}" th:text="${error}">
                </small>
            </div>
            <div class="form-group text-center">
                <h4 for="panelsTableContainer">Choose Solar Units</h4>

                <div id="solarUnitsTableContainer" class="unit-data">

                </div>
            </div>
            <div class="form-group mx-auto w-50 text-center mt-5">
                <button class="btn bc-background btn-primary w-25">
                    Create Solar Plant
                </button>
            </div>

        </form>
        <script th:src="@{/js/fetch-data-for-solar-unit.js}"></script>
    </main>
    <footer th:replace="~{fragments/footer}">
    </footer>
</div>
</body>
</html>