<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">
</head>
<body>
<div class="container-fluid">
    <header th:replace="~{fragments/header}">
    </header>
    <main class="jumbotron">

        <th:block th:if="${#authorization.expression('hasRole(''ROLE_USER'')')} and
    ${#authorization.expression('!hasRole(''ROLE_ADMIN'')')}">
            <h1 class="text-center">Home Page</h1>
            <hr/>
            <div>
                <div>
                    <button type="button" class="btn btn-info" id="mySolarUnits">My Solar Units</button>
                    <button type="button" class="btn btn-info" id="mySolarPlants">My Solar Plants</button>
                    <button type="button" class="btn btn-info" id="clearCustomerData">Clear</button>
                </div>
            </div>
            <div id="userData">
            </div>
            <script th:src="@{/js/fetch-data-for-solar-unit.js}"></script>
        </th:block>

        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
        <h1 class="text-center">Admin Page</h1>
        <hr/>
        <div>
            <div class="form-group text-center">
                <a th:href="@{/users/all}" class="btn btn-primary" id="allUsers">All Users</a>
                <a th:href="@{/solar_plants/all}" class="btn btn-primary" id="allPlants">All Solar Plants</a>
            </div>

        </div>
        <hr/>
        <div id="adminData">
            <table class="table table-striped collapse all-users-table">
                <thead><tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Roles</th>
                    </tr>
                </thead>
                <tbody>
                <th:block th:each="user, index :${users}">
                    <tr>
                        <td th:text="${index.index + 1}"></td>
                        <td th:text="${user.username}"></td>
                        <th:block th:each="auth:${user.authorities}">
                            <td th:text="${auth.authority}"></td>
                        </th:block>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <script th:src="@{/js/fetch-admin-data.js}"></script>
    </th:block>
        <th:block sec:authorize="hasRole('ROLE_ENGINEER')">
            <h1 class="text-center">Engineer Page</h1>
            <hr/>
            <div>
                <button type="button" class="btn btn-info" id="allPanelsNav">All PV Panels</button>
                <button type="button" class="btn btn-info" id="allBatteriesNav">All Batteries</button>
                <button type="button" class="btn btn-info" id="allControllersNav">All Charge Controllers</button>
                <button type="button" class="btn btn-info" id="allInvertersNav">All Inverter</button>
                <button type="button" class="btn btn-info" id="allSolarUnits">All Solar Units</button>
                <button type="button" class="btn btn-info" id="allSolarPlants">All Solar Plants</button>
                <button type="button" class="btn btn-info" id="clearEngineerData" >Clear</button>
            </div>
            <hr/>
            <div id="engineerData">
            </div>
            <script th:src="@{/js/fetch-all-data.js}"></script>
        </th:block>

    </main>
    <footer th:replace="~{fragments/footer}">
    </footer>
</div>
</body>
</html>