<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">
</head>
<body>
<div class="container-fluid">
    <header th:replace="~{fragments/header}">
    </header>
    <main class="jumbotron">
        <div class="mx-auto w-50 text-center">
            <h2>Something went wrong!!!</h2>
            <h4 th:text="${message}"></h4>
        </div>

    </main>
    <footer th:replace="~{fragments/footer}">
    </footer>
</div>
</body>
</html>