<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">
</head>
<body>
<div class="container-fluid">
    <header th:replace="~{fragments/header}">
    </header>
    <main class="jumbotron">
        <h1 class="text-center">Add Battery</h1>
        <form th:action="@{/batteries/create}" th:method="post" th:object="${batteryCreate}">
            <div class="form-group mx-auto w-25 text-center"
                 th:classappend="${#fields.hasErrors('manufacturer')}?'text-danger'">
                <label for="manufacturer">Manufacturer</label>
                <input class="form-control" type="text" id="manufacturer" th:field="*{manufacturer}"
                       placeholder="Manufacturer..."/>
                <small th:each="error:${#fields.errors('manufacturer')}" th:text="${error}">
                </small>
            </div>

            <div class="form-group w-25 text-center mx-auto"
                 th:classappend="${#fields.hasErrors('model')}?'text-danger'">
                <label for="model">Model</label>
                <input class="form-control" type="text" id="model" th:field="*{model}"
                       placeholder="Model..."/>
                <small th:each="error:${#fields.errors('model')}" th:text="${error}">
                </small>
            </div>
            <div class="form-group col-md-2 text-center mx-auto"
                 th:classappend="${#fields.hasErrors('voltage')}?'text-danger'">
                <label for="voltage">Voltage</label>
                <input class="form-control" type="number" step="0.01" id="voltage" th:field="*{voltage}"
                       placeholder="Voltage..."/>
                <small th:each="error:${#fields.errors('voltage')}" th:text="${error}">
                </small>
            </div>
            <div class="form-group col-md-2 mx-auto text-center"
                 th:classappend="${#fields.hasErrors('capacity')}?'text-danger'">
                <label for="capacity">Capacity</label>
                <input class="form-control" type="number" step="0.01" id="capacity" th:field="*{capacity}"
                       placeholder="Capacity..."/>
                <small th:each="error:${#fields.errors('capacity')}" th:text="${error}">
                </small>
            </div>
            <div class="form-group col-md-6 mx-auto text-center">
                <div class="form-row mx-auto text-center">
                    <div class="form-group col-md-6 text-center" th:classappend="${#fields.hasErrors('terminals')}?'text-danger'">
                        <label for="terminals">Terminals Location</label>
                        <select class="form-control" type="text" id="terminals" th:field="*{terminals}">
                            <option selected value="">Choose battery terminals location</option>
                            <option th:each="terminal : ${T(com.bozhilov.mysolarplant.data.models.other.Terminals).values()}"
                                    th:value="${terminal}"
                                    th:text="${#strings.capitalize(#strings.toLowerCase(terminal))}" >
                            </option>
                        </select>
                        <small th:each="error:${#fields.errors('terminals')}" th:text="${error}">
                        </small>
                    </div>
                    <div class="form-group col-md-6 text-center" th:classappend="${#fields.hasErrors('connectionType')}?'text-danger'">
                        <label for="connectionType">Connection Type</label>
                        <select class="form-control" type="text" id="connectionType" th:field="*{connectionType}">
                            <option selected value="">Choose battery connection type</option>
                            <option th:each="type : ${T(com.bozhilov.mysolarplant.data.models.other.ConnectionType).values()}"
                                    th:value="${type}"
                                    th:text="${#strings.capitalize(#strings.toLowerCase(type))}" >
                            </option>
                        </select>
                        <small th:each="error:${#fields.errors('connectionType')}" th:text="${error}">
                        </small>
                    </div>
                </div>
            </div>



            <div class="form-group mx-auto w-50 text-center mt-5">
                <button class="btn bc-background btn-primary w-25">
                    Add Battery
                </button>
            </div>

        </form>
    </main>
    <footer th:replace="~{fragments/footer}">
    </footer>
</div>
</body>
</html>