<header>
    <nav class="navbar navbar-expand-lg navbar-dark bc-background">
        <a th:href="@{/}"><img id="navbarImage" th:src="@{/images/favicons/icons8-solar-panel-100.png}" alt="solar-panel"></a>
        <a class="navbar-brand" th:href="@{/}">MySolarPlant</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"  id="applicationNavbar">
            <ul class="navbar-nav ml-auto mr-4">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/home}" th:text="Home"></a>
                </li>
                <li class="nav-item active" >
                    <a class="nav-link" th:href="@{/login}" th:text="|Login|"></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/users/register}" th:text="|Register|"></a>
                </li>

                <!--For logged in user-->

                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/solar_units/create}" th:text="|Create Solar Unit|"></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" id="pvPanelDropdown">
                        PV Panels
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pvPanelDropdown">
                        <a class="nav-link" th:href="@{/pvpanels/create}">Add PV Panel</a>
                        <a class="nav-link" id="allPanels" th:href="@{/pvpanels/all}" th:text="|All PV Panels|"></a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" id="chargeControllerDropdown">
                        Charge Controllers
                    </a>
                    <div class="dropdown-menu" aria-labelledby="chargeControllerDropdown">
                        <a class="nav-link" th:href="@{/controllers/create}">Add Charge Controller</a>
                        <!--<a class="nav-link" th:href="@{/pvpanels/all}" th:text="|All Charge Controllers|"></a>-->
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" id="invertersDropdown">
                        Inverters
                    </a>
                    <div class="dropdown-menu" aria-labelledby="invertersDropdown">
                        <a class="nav-link" th:href="@{/inverters/create}">Add Inverter</a>
                        <!--<a class="nav-link" th:href="@{/pvpanels/all}" th:text="|All Inverter|"></a>-->
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" id="batteriesDropdown">
                        Batteries
                    </a>
                    <div class="dropdown-menu" aria-labelledby="batteriesDropdown">
                        <a class="nav-link" th:href="@{/batteries/create}">Add Battery</a>
                        <!--<a class="nav-link" th:href="@{/pvpanels/all}" th:text="|All Battery|"></a>-->
                    </div>
                </li>
            </ul>
        </div>

    </nav>
</header>