<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">
</head>
<body>
<div class="container-fluid">
    <header th:replace="~{fragments/header}">
    </header>
    <main class="jumbotron">
        <h1 class="text-center">Edit Inverter</h1>
        <form th:action="@{/edit/edit/{id}(id=${inverterEditModel.id})}" th:method="post" th:object="${inverterEditModel}">
            <div class="form-group mx-auto w-25 text-center"
                 th:classappend="${#fields.hasErrors('manufacturer')}?'text-danger'">
                <label for="manufacturer">Manufacturer</label>
                <input class="form-control" type="text" id="manufacturer" th:field="*{manufacturer}"
                       placeholder="Manufacturer..."/>
                <small th:each="error:${#fields.errors('manufacturer')}" th:text="${error}">
                </small>
            </div>

            <div class="form-group w-25 text-center mx-auto"
                 th:classappend="${#fields.hasErrors('model')}?'text-danger'">
                <label for="model">Model</label>
                <input class="form-control" type="text" id="model" th:field="*{model}"
                       placeholder="Model..."/>
                <small th:each="error:${#fields.errors('model')}" th:text="${error}">
                </small>
            </div>

            <div class="form-group col-md-2 mx-auto text-center"
                 th:classappend="${#fields.hasErrors('ACPower')}?'text-danger'">
                <label for="ac-power">AC Power</label>
                <input class="form-control" type="number" step="0.01" id="ac-power" th:field="*{ACPower}"
                       placeholder="AC Power..."/>
                <small th:each="error:${#fields.errors('ACPower')}" th:text="${error}">
                </small>
            </div>

            <div class="form-group col-md-2 mx-auto text-center"
                 th:classappend="${#fields.hasErrors('maxACPower')}?'text-danger'">
                <label for="max-ac-power">Max AC Power</label>
                <input class="form-control" type="number" step="0.01" id="max-ac-power" th:field="*{maxACPower}"
                       placeholder="Max AC Power..."/>
                <small th:each="error:${#fields.errors('maxACPower')}" th:text="${error}">
                </small>
            </div>
            <div class="form-group col-md-2 mx-auto text-center"
                 th:classappend="${#fields.hasErrors('maxPVPower')}?'text-danger'">
                <label for="max-pv-power">Max PV Power</label>
                <input class="form-control" type="number" step="0.01" id="max-pv-power" th:field="*{maxPVPower}"
                       placeholder="Max PV Power..."/>
                <small th:each="error:${#fields.errors('maxPVPower')}" th:text="${error}">
                </small>
            </div>

            <div class="form-group mx-auto w-50 text-center mt-5">
                <button class="btn bc-background btn-primary w-25">
                    Edit Inverter
                </button>
                <a th:href="@{/home}" class="btn bc-background btn-primary w-25">Go Back To Home</a>
            </div>

        </form>
    </main>
    <footer th:replace="~{fragments/footer}">
    </footer>
</div>
</body>
</html>